.movies-list {
  margin: 0 auto;
  padding: 70px 0 0;
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 6px;
  gap: 30px;
}

@media screen and (max-width: 1114px) {
  .movies-list {
    max-width: 750px;
  }
}

@media screen and (max-width: 690px) {
  .movies-list {
    max-width: 360px;
    /* min-width: none; */
  }
}