.auth-form {
  margin: 0 auto;
  padding: 0;
  max-width: 396px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'logo' 'welcome' 'form' 'txt';
  grid-template-rows: auto auto 1fr auto;
  /* flex-direction: column; */
}

.auth-form__logo {
  grid-area: logo;
  margin: 70px 0 40px;
  width: 38px;
  transition: opacity .2s ease-out;
}

.auth-form__logo:hover {
  opacity: .8;
}

.auth-form__greetings {
  grid-area: welcome;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
}

.auth-form__form {
  grid-area: form;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
}

.auth-form__label {
  display: block;
  margin: 20px 0 0;
  padding: 0 0 10px;
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  }

.auth-form__input {
  margin: 0;
  padding: 0 15px;
  max-width: 366px;
  height: 46px;
  color: #FFF;
  background-color: #2F2F2F;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  transition: all .2s ease-out;
}

.auth-form__input:hover {
  background-color: #303030;
}

.auth-form__input::placeholder {
  color: #FFF;
}

.auth-form__input:focus {
  font-weight: 500;
  outline: none;
  color: #3DDC84;
  background-color: #333;
  /* outline: solid 1px #4285F4; */
}

.auth-form__input:focus::placeholder {
  color: #3DDC84;
}

.auth-form__input-error {
  color: #EE3465;
}

.auth-form__button {
  margin: auto 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 45px;
  color: #FFF;
  background-color: #4285F4;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  transition: opacity .2s ease-out;
}

.auth-form__button:visited {
  color: #FFF;
}

.auth-form__button:hover {
  opacity: .8;
}

.auth-form__subline {
  display: block;
  margin: 0;
  padding: 10px 0 10px;
  color: #EE3465;
  font-size: 10px;
}

.auth-form__bottom-text {
  grid-area: txt;
  margin: auto;
  padding: 16px 0 87px;
  font-size: 14px;
  font-weight: 400;
  color: #8B8B8B;
}

.auth-form__bottom-text-link {
  color: #4285F4;
  margin-left: 6px;
  text-decoration: none;
  transition: opacity .2s ease-out;
}

.auth-form__bottom-text-link:hover {
  opacity: .7;
}

.auth-form__bottom-text-link:visited {
  color: #4285F4;
}

@media screen and (max-width: 1024px) {
  .auth-form {
    grid-template-areas: '.' 'logo' 'welcome' 'form' 'txt' '.';
    grid-template-rows: 1fr auto auto auto auto 1fr;
  }

  .auth-form__logo {
    margin-top: auto;
  }

  .auth-form__bottom-text {
    margin: 0 auto;
    padding: 15px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .auth-form {
    margin: 0 auto;
    padding: 0 30px;
    min-width: 240px;
    grid-template-areas: 'logo' 'welcome' 'form' 'txt';
    grid-template-rows: auto auto minmax(548px, 1fr) auto;
  }

  .auth-form__logo {
    margin: 56px auto 48px;
  }

  .auth-form__form {
    padding-top: 62px;
  }

  .auth-form__greetings {
    margin: 0 auto;
  }

  .auth-form__input {
    
  }

  .auth-form__button {
    font-size: 12px;
    justify-self: flex-end;
  }

  .auth-form__bottom-text {
    
    font-size: 12px;
    padding-bottom: 30px;
  }
}